{% extends 'inicio.html' %}


{% block contenidoQuecambia2 %}
        <h1>Un Poco de Mi</h1>
        <h6>Hola, mi nombre es Javier y tengo ya 48 Años, soy de Santiago de Chile</h6>
        <h6>trabajo como soporte informatico en una empresa de software Uruguaya</h6>
        <h6>con oficina en Chile </h6>
        <h6>Me encanta la naturaleza, los animales, el aire libre, el campo</h6>
        <h6>en especial el sur de mi pais</h6>
        <h6>mis hobbys son: </h6>
        <h6>Coleccionar Juguetes antiguos de los que veia cuando era pequeño</h6>
        <h6>Amante de los Automoviles me encantan los diseños y la tegnologia </h6>
        <h6>me facina volar drones realizar videos aereos y llegar lugares de dificil acceso</h6>
        <h6>soy fanatico de los autos a control remoto de cualquier tipo electrico o motor </h6>
        <h6>me gusta mi familia y los niños, tengo tres hijos ya adultos y los amo</h6>
        <h6>Mis aspiraciones son tener mi propio negocio familiar en donde toda mi familia</h6>
        <h6>pueda participar y juntos lograr nuestras metas</h6>

{% endblock contenidoQuecambia2 %}