        <!-- Navigation-->
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary static-top">
            <div class="container">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Inicio' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Clientes
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'CreaCliente' %}">Crear</a></li>
                      <li><a class="dropdown-item" href="{% url 'ListarClientes' %}">Listar/Editar/Eliminar</a></li>
                      <li><a class="dropdown-item" href="{% url 'BuscarCliente' %}">Buscar</a></li>
                      
                      <!--<li><hr class="dropdown-divider"></li>-->
                    </ul>  
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Usuarios
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'CreaUsuario' %}">Crear</a></li>
                      <li><a class="dropdown-item" href="{% url 'ListarUsuarios' %}">Listar/Editar/Eliminar</a></li>
                      <li><a class="dropdown-item" href="{% url 'BuscarUsuario' %}">Buscar</a></li>
                      <!--<li><hr class="dropdown-divider"></li>-->
                    </ul>  
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'CreaCategoria' %}">Crear</a></li>
                      <li><a class="dropdown-item" href="{% url 'ListarCategorias' %}">Listar/Editar/Eliminar</a></li>
                      <li><a class="dropdown-item" href="{% url 'BuscarCategoria' %}">Buscar</a></li>
                      <!--<li><hr class="dropdown-divider"></li>-->
                    </ul>  
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Articulos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'CreaArticulo' %}">Crear</a></li>
                      <li><a class="dropdown-item" href="{% url 'ListarArticulos' %}">Listar/Editar/Eliminar</a></li>
                      <li><a class="dropdown-item" href="{% url 'BuscarArticulo' %}">Buscar</a></li>
                      <!--<li><hr class="dropdown-divider"></li>-->
                    </ul>  
                  </li>
                  {% if user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{user.first_name}}
                    </a>
                    <ul class="dropdown-menu">
                      <img src="{{url_avatar}}" height="120px">
                      <li><a class="dropdown-item" href="{% url 'CambiaPassword' %}">Cambiar Contraseña</a></li>
                      <li><a class="dropdown-item" href="{% url 'AgregarAvatar' %}">Cambiar Avatar</a></li>
                    </ul>   
                  </li>
                  {% endif %}
                  <!--<li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                  </li>-->
                </ul>
                
                {% if user.is_authenticated %}
                  <img src="{{url_avatar}}" height="30px">
                  <p>Bienvenido(a)
                     {{user.first_name}}  .</p>
                  <a class="btn btn-primary" href="{% url 'Logout' %}">Logout</a>
                {% else %}
                  <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
                {% endif %}
              </div>
            </div>
          </nav>