{% extends 'inicio.html' %}


{% block contenidoQuecambia %}
<h3>LISTA DE USUARIOS</h3>
<div class="container text-center">
  <div class="row">
    <div class="col">
      User Name
    </div>
    <div class="col">
      DNI
    </div>
    <div class="col">
      Nombre
    </div>
    <div class="col">
      Apellido Paterno
    </div>
    <div class="col">
      Apellido Materno
    </div>
    <div class="col">
      E-Mail
    </div>
  </div>
</div>
  {% for usuarios in lista_usuarios %}   

      <div  style="display: flex; column-gap: 5px;">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              {{usuarios.user}}
            </div>
            <div class="col">
              {{usuarios.dni}}
            </div>
            <div class="col">
              {{usuarios.nombre}}
            </div>
            <div class="col">
              {{usuarios.apellidoPaterno}}
            </div>
            <div class="col">
              {{usuarios.apellidoMaterno}}
            </div>
            <div class="col">
              {{usuarios.email}}
            </div>
          </div>
        </div>
 <!--         
          <li>{{clientes.user}} {{clientes.dni}} - {{clientes.nombre}} - {{clientes.apellidoPaterno}} - {{clientes.apellidoMaterno}} - {{clientes.email}} </li>
  -->
          <button>
            <a href="{% url 'EliminarUsuarios' usuarios.id %}" > Eliminar </a>
          </button>
          <button>
            <a href="{% url 'EditarUsuarios' usuarios.id %}" > Editar </a>
          </button>
          <button>
            <a href="{% url 'DetalleUsuarios' usuarios.id %}" > Detalle </a>
          </button>
      </div>
  {% endfor %}
    
{% endblock contenidoQuecambia %}